.eventCardsDiv {
  display: flex;
  flex-wrap: wrap;
}
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.PrivateEventCard {
  max-width: 450px;
  background: #a7baf480;
}

.PublicEventCard {
  max-width: 450px;
  background: #f7d56cbf;
}

ion-item-divider {
  --background: #319396;
  --color: #fff;
  border-radius: 25px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
  width: 300px;
}

.navButton {
  padding-left: 2%;
}

ion-col {
  min-width: 300px;
}

