.eventCardsDiv {
  display: flex;
  flex-wrap: wrap;
}
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.PrivateEventCard {
  max-width: 450px;
  background: #a7baf480;
}

.PublicEventCard {
  max-width: 450px;
  background: #f7d56cbf;
}

ion-item-divider {
  --background: #319396;
  --color: #fff;
  border-radius: 25px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
  width: 300px;
}

.tabButton {
  /* --color: #92949c; */
  -webkit-text-fill-color: #fff;
}
ion-item {
  --background: #319396;
  --color: #fff;

  --border-color: #fff;
  --border-style: bold;
  --border-width: 2px;

  --border-radius: 20px;

  --ripple-color: purple;

  --detail-icon-color: white;
  --detail-icon-opacity: 1;
  --detail-icon-font-size: 20px;
}
ion-col {
  background-color: #bbe4e6;
  border: solid 1px #fff;
  color: black;
  text-align: center;
}

.seg {
  background: #bbe4e6;
  border-radius: 2px;
  border-radius: 15px;
}
