.FriendsTabs {
  --color: #525151;
  --indicator-color: #7cafb1;
}
.searchbarBorder {
  background-color: #7cafb1;
  --border-radius: 10px;
}
.itemBackground {
  --border-color: #7cafb1;
  --border-width: 0.2px;
  --padding-top: 5px;
}
.toolbarMargin {
  margin-top: 2%;
}
.labelColour {
  color: #37383a;
}

.GiantAvatar {
  height: "100px";
  border-radius: "50%";
}
