ion-modal:not(#date) {
  --height: 50%;
  --min-height: 400px;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#date {
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-header > ion-toolbar {
  --background: #319396;
  --color: white;
}

.taskCard {
  width: 450px;
  min-width: 320px;
  background-color: lightgray;
}

.taskCardCompleted {
  width: 450px;
  min-width: 320px;
  background-color: #cbefcb;
}

.item-backgroundColor {
  --ion-item-background: transparent;
}

.taskEditButton {
  float: right;
}
